PORT=5000
MONGO_URI=mongodb+srv://it23534636_db_user:1JqJe8SCy80WJZlb@rewear.snizydo.mongodb.net/
JWT_SECRET=62d9ae53da9f1600effdfd23112a35e2be8fc4bfdbf0cf0310853de54ae9a353

CLOUDINARY_CLOUD_NAME=dqaggxuxe
CLOUDINARY_API_KEY=263347896226524
CLOUDINARY_API_SECRET=bM9_EDRWU9C4rCe1w_0_6wlmmAM

MAIL_FROM=team.rewear.1@gmail.com
RESEND_API_KEY=re_3GHVrkfN_GWaApFzq4Wk9SbYxdk8gBGRd
FRONTEND_URL=https://rewear-clothing-swap-platform.vercel.app/